.team-channel-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  
  .team-channel-list-message.loading {
    height: 115px;
  }
  
  .team-channel-list-header {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .team-channel-list-header svg {
    cursor: pointer;
  }
  
  .team-channel-list-header-title {
    font-family: Helvetica Neue, sans-serif;
    font-size: 13px;
    line-height: 16px;
    height: 16px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }

  /*.team-channel-list-message {
    color: #ffffff;
    padding: 0 16px;
  }*/
  
  .team-channel-list-message.loading {
    height: 115px;
  }

  .team-channel-list p {
 color: white;
 padding: 0 16px;
  }
